# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Alembic migrations
alembic.ini
alembic/
