/* @keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  html {
    font-family: theme("fontFamily.inter");
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
} */
